body{
    font-family: 'Heebo', sans-serif;
    margin-top: 30px;
    
}
h1
{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: 800;
    color: rgb(65, 58, 58);
}
p{
    font-size: 16px;
    text-align: center;
    font-weight: 100;

}
.first-part {
display: flex;

}
.second-part{
    display: flex;
    background-color: rgb(241, 233, 236);

}
.half-width{
    margin-top: 70px;
   width: 40%; 
   margin-right: 90px;

}
.about-me{
    overflow: scroll;
    height: 300px;
}
.image1{
    width: 100%;
    
}
.btn img{
    width: 60%;
}
.btn{
    border: none;
}
.image2{

    width: 80%;
}
.section2-image{
    width: 30%;
    padding: 100px;
}
.section2-p{
    padding: 50px;
    width: 40%;
    text-align: center;
   
}
.btn2{
    border: none;
    font-size: 16px;
    color: rgb(8, 8, 8);
   background: linear-gradient(yellow, orange, orange);
   border-radius: 40px;
   text-decoration: none;
   
}
.my-recipies{
    font-size: 15px;
    color: rgb(78, 76, 71);
}
.third-part{
    margin-top: 40px;
    display: flex;
    padding: 20px;
    
}
@media (max-width: 800px) {
    .third-part {
      flex-direction: column;
    }
  }
.img{
    height: 300px;
    width: 300px;
    border-radius: 20px;


}
.recipi-box {
    overflow: scroll;
    height: 500px;
    border: 6px ;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 2px 2px 4px 4px rgb(185, 179, 178);
  
}
.recipi-text{
    font-size: 15px;
    color: rgb(49, 46, 46);
}
.fourth-part{
    display: flex;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 4px rgb(185, 179, 178);
    margin: 30px;
    padding: 30px;
    
}
.followers{
    width: 33%;

   
}
.form{
    margin: 20px;
    background-color: blanchedalmond;
    border:2px solid black;
    padding: 10px;
    border-radius: 10px;
}
.blogs{
    display: flex;
    
}
.blogs img{
    width: 70%;
    border-radius: 20px;
    margin: 10px;
}
.width{
    width: 50%;
}
.headline{
    font-size: 20px;
    color: grey;
}
.blog-summery{
    text-align: left;
}
.continue{
    text-decoration: none;
    color: rgb(10, 180, 10);
}

 .footer{
     padding: 20px;
     margin-top: 30px;
    border-radius: 20px;
     color: white;
     background-color: black;
    box-shadow: 2px 2px 4px 4px rgb(20, 20, 20);
 }